.nameinput {
  width: 30vw;
}

.flexwrapper {
  display: flex;
  justify-content: space-between;
}

.coordsinput {
  &_wrapper {
    margin-top: 20px;
  }

  width: 12vw;
}

.btnwrapper {
  display: flex;
  margin-top: 50px;
}

.backbtn {
  margin-right: 10px;
  margin-left: auto;
}
