.wrapper {
  position: relative;
}

.input {
  width: 100%;
}

.list {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  //width: calc(100% - 39px);
  width: 100%;

  position: absolute;
}

.item {
  list-style: none;
  padding: 8px;
  color: var(--main-text-color);
  background-color: var(--main-color);

  &:hover {
    cursor: pointer;
    font-weight: 700;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid #999;
  }
}
